@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .filter-blue-400 {
        filter: invert(51%) sepia(88%) saturate(556%) hue-rotate(187deg) brightness(104%) contrast(96%);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color-scheme: light;
}

@media (prefers-color-scheme: dark) {
    html,
    body {
        color-scheme: dark;
    }
}

.smoothscroll {
    scroll-behavior: smooth !important;
}

img,
video,
svg {
    display: block;
}

input,
textarea,
button,
select,
a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

/* ARC */

.arc-link {
    border-color: transparent;
}

.arc-link:hover {
    border-color: var(--arc-color);
}

.arc-link:focus {
    border-color: var(--arc-color);
}

#arcsScroll,
#episodesScroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#arcsScroll::-webkit-scrollbar,
#episodesScroll::-webkit-scrollbar {
    display: none;
}
